<form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="container position-relative">
        <div class="card mt-4 mb-4">
            <div class="card-body">
                <div class="media">
                    <div class="media-body">

                        <textarea style="width: 100%;  border-radius: 2%; " formControlName="text" placeholder="what's happening?"></textarea>

                    </div>
                </div>
                <hr>
                <button style="border-radius: 12px;  background-color: #a4c1ff; /* Green */
            border: none;
            color: white;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;" type="submit">Post</button>
            </div>
        </div>
    </div>
</form>